<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.pointsto.preferences.PointsToPreferences">
	   </initializer>
	</extension>
   
   <!-- create a preferences menu item for points-to analysis -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.pointsto.ui.PointsToPreferencesPage"
            id="com.ensoftcorp.open.pointsto.ui.preferences"
            name="Points-To Analysis"
            category="com.ensoftcorp.open.commons.ui.toolbox.preferences">
      </page>
   </extension>

   <!-- adds the prioritized codemap stage for points-to analysis -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.pointsto.codemap.PointsToCodemapStage"></codemap>
   </extension>
  
   <!-- add points-to smart views -->
    <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.ensoftcorp.open.pointsto.ui.smart.PointsToAliasesSmartView">
      </script>
      <script
            class="com.ensoftcorp.open.pointsto.ui.smart.PointsToArrayComponentAliasesSmartView">
      </script>
   </extension>

</plugin>
